### Input and Output in Python

In [1]:
print('Hello Word')

Hello Word

In [2]:
print ('my name is prajwal')

my name is prajwal

In [5]:
name= input("enter your name")
print("Hello my name is",name)

enter your name Shaiva

Hello my name is Shaiva

In [6]:
I= "Prajwal"
print(I)
age=22
print(age)
city= "Hassan"
print(city)

Prajwal
22
Hassan

In [7]:
print(I,age,city)

Prajwal 22 Hassan

In [9]:
x,y = input("Enter two values: ").split()
print("Number of boys: ",x)
print("Number of girls: ", y)
a, b, c = input("Enter three values: ").split()
print("Total number of students: ", a)
print("Number of boys is : ", b)
print("Number of girls is : ", c)

Enter two values:  50 50

Number of boys:  50
Number of girls:  50

Enter three values:  100 50 50

Total number of students:  100
Number of boys is :  50
Number of girls is :  50

In [10]:
color=input("What color is sky")
print(color)

What color is sky bule

In [11]:
num=int(input("enter a number"))
print(num)

enter a number 34

34

In [12]:
price=float(input("enter a number"))
print(price)

enter a number 45.5748

45.5748

In [13]:
a = "Hello World"
b = 10
c = 11.22
d = ("Prajwal shaiva")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

## Python variables

In [2]:
x=5
name='prjwal'
print(x)
print(name)
print(x,name)

5
prjwal
5 prjwal

In [4]:
age=22
tatal_score=456
_color='red'
print(age)
print(tatal_score)
print(_color)

22
456
red

In [5]:
1name='prajwal' ## error
print(1name)
##variable only latters digit and _

SyntaxError: invalid decimal literal (4025764294.py, line 1)

In [6]:
# Assining the values of vaiables
x=5
y=3.45
z='Hii'
print(x)
print(y)
print(z)

5
3.45
Hii

In [7]:
# Multiple Assignments
a=b=c=1000
print(a,b,c)

1000 1000 1000

In [10]:
a=b=c=12,23,45
print(a,b,c)

(12, 23, 45) (12, 23, 45) (12, 23, 45)

In [11]:
a,b,c=24,5,56
print(a,b,c)

24 5 56

In [16]:
x,y,z=23,34,"Prajwal Shaiva"
print(x,y,z)

23 34 Prajwal Shaiva

In [17]:
# Type Casting Varible

In [18]:
s=12
n=int(s)
cnt=s
f=float(cnt)
age=22
s2=str(age)
print(n)
print(f)
print(s2)

12
12.0
22

In [25]:
# Type of variable
n=22
f=23.34
s='name'
d={'key':'value'}
l=[1,2,3,4,5,5,]
print(type(n))
print(type(f))
print(type(s))
print(type(d))
print(type(l))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'dict'>
<class 'list'>

In [ ]:
# Deleting a variable
name=10
del name
print(name)

In [31]:
# swap variable
a,b=23,34
a,b=b,a
print(a,b)

34 23

### Python keyord

In [32]:
# Getting List of all python keywords
import keyword
print('List of python keywords are:')
print(keyword.kwlist)

List of python keywords are:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [33]:
s="Hello"
n=20
f=5.5
print(s)
print(n)
print(f)

Hello
20
5.5

In [37]:
s="hello"
print(s)
n=20
result=n+10
print(result)
f=5.5
result=f*10
print(result)

hello
30
55.0