 ## Python Data type

In [6]:
x=20 # int
x=3.44 # flot
x=['name','prajwal'] # list
x="hell" # string
x=('hello','name') # tupel

### Numaric Data type

In [2]:
a=23
b=584.35
c=2+3j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### Sequence Data type

In [7]:
s='my name is prajwal'
print(s)
print(type(s))
print(s[0])
print(s[1])
print(s[1])
print(s[3])

my name is prajwal
<class 'str'>
m
y
y
n

### List Data type

In [8]:
a=[1,2,3,4,5,6,7,8,9,0]
print(a)
b=['prjwal','shaiva']
print(b)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
['prjwal', 'shaiva']
<class 'list'>

In [9]:
a=['Hassan','arkalgudu','beluru','mysuru']
print(a[0])
print(a[-1])

Hassan
mysuru

### Tupel Data type

In [11]:
tup1=()
tup2=('prajwal','shaiva')
print("\ntuple with the use of string:",tup2)

tuple with the use of string: ('prajwal', 'shaiva')

### Bolean Data type

In [6]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

### Truthy and Falsy Value

In [9]:
if 1:
    print('1 is true')
if not 0:
        print('0 is false')

1 is true
0 is false

### set  data type

In [13]:
s1=set()
s1=set("prjwal shavia")
print('set data type date',s1)
s2=('prajwal','shaiva')
print('set data type date',s2)

set data type date {'i', 'p', ' ', 'h', 's', 'w', 'j', 'l', 'v', 'r', 'a'}
set data type date ('prajwal', 'shaiva')

### Dictionary Data type

In [16]:
d={}
d={1:'prajwal',2:'shaiva',3:'kiran'}
print(d)

{1: 'prajwal', 2: 'shaiva', 3: 'kiran'}